.embed-card {
  max-width:500px;
  border: 1px solid lighten( @gray-light , 30% );
  border-radius:5px;
  padding:12px;
  margin: 20px 0;
  font-size:13px;
  .box-shadow(5px 5px 10px rgba(0,0,0,0.3));
  a {
    color: #333333;
    text-decoration:none;
  }
  .embed-card-left {
    float:left;
    margin-right:10px;
  }
  .embed-card-heading {
    font-size:17px;
    font-weight:bold;
    margin:0 0 2px;
    line-height:1.4;
    max-height:47px;
    overflow:hidden;
  }
  .embed-card-body {
    line-height:1.4;
    font-size: 12px;
    //max-height:72px;
    //overflow:hidden;
  }
  .embed-card-object {
    width:100px;
    height:auto;
  }

  .embed-card-btn {
    float:right;
  }
}


/*
.media-image {
    vertical-align: middle;
    margin-bottom:0;
    max-width:120px;
    max-height:120px;
}

.media-body {
  padding-top:0;
  text-align:left;
}
.media-body .desc {
    color:#999;
    font-size:12px;
    line-height:1.5em;
    margin-bottom:10px;
}

.media-body .more-link {
    float:right;
    margin-bottom:0;
    @media (max-width: @screen-sm-min) {
//      display:none;
    }
}

.media a {
    text-decoration:none;
}
*/
