.headline { 
  color: @headline-color;
  font-size: 20px;
  font-weight: normal;
  padding : 10px 10px 5px 10px;
  margin : 10px 0 10px -10px;
  background: @headline-bg;
  #gradient > .vertical(lighten(@headline-bg,5%), darken(@headline-bg,10%));
  border-bottom: 2px solid darken(@headline-bg,10%);
  border-radius: 4px;
  text-shadow : 1px 2px 2px #000;
  vertical-align:bottom;
  small {
    color : @gray-lighter;
  }
}
