/*

WP-Bootstrap - Layout

*/

* {
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", Hiragino Kaku Gothic Pro, "ＭＳ Ｐゴシック", sans-serif;
}

@import './headline.less';

/* layout */

body{
	// This is to account for the fixed navbar
	//padding-top: 60px;

  /* Admin Top Navigation fix */
  .admin-bar .navbar-fixed-top{ 
    top: 28px; 
  }
}



.navbar-search{
	padding-left: 0;
}

#content{
  @media (min-width: @screen-sm-min) {
    padding: 10px 0 0;
  }
}

//ヘッダー
.page-header {
  margin-top: 10px;
  margin-bottom: 10px;
  border : none;
}



.footer-links{
	float: right;
	margin-bottom: 18px;
}

.footer-links .menu{
	list-style-type: none;
	margin-left: 0;
}

.footer-links .menu li{
	float: left;
	margin-left: 10px;
}

.attribute {
  text-align:center;
  h3,h4 {
    font-size:12px;
    a { 
      color:@gray-dark;
    }
  }
}
.copy {
  font-size:12px;
}

.totop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 104400;
}


.nav-more {
  text-align:center;
  margin-bottom:20px;

  a:after {
    content: " \f105";
    font-family: FontAwesome;
  }
}


.balloon {
  position: relative;
  color: #fff;
  background: #777;
  font-size: 20px;
  line-height: 1;
  text-shadow: 1px 1px 1px #000;
  border :1px solid #777;
  margin: 30px -10px 10px -10px;
  padding: 15px 5px 12px 10px;
  border-radius: 3px;
}
.balloon:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 30px;
  height: 0;
  width: 0;
  border: 10px solid transparent;
  border-top: 10px solid #777;
}

.balloon-border {
  position: relative;
  color: #111;
  background: #fff;
  font-size: 18px;
  line-height: 1;
  border :2px solid #555;
  margin: 30px -10px 10px -10px;
  padding: 15px 5px 12px 10px;
  border-radius: 10px;
}

.balloon-border:after,.balloon-border:before {
  content: "";
  position: absolute;
  top: 100%;
  height: 0;
  width: 0;
}

.balloon-border:after {
  left: 33px;
  border: 11px solid transparent;
  border-top: 11px solid #fff;
}
.balloon-border:before {
  left: 30px;
  border: 14px solid transparent;
  border-top: 14px solid #555;
}




/*******************************
 * 左からの吹き出し
 ********************************/
.balloon-left {
  position: relative;
  background: #fff;
  border: 2px solid #777;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  float: left;
  color: @gray-dark;
}
.balloon-left:after,
.balloon-left:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.balloon-left:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #fff;
  border-width: 7px;
  margin-top: -7px;
}
.balloon-left:before {
  border-color: rgba(0, 0, 0, 0);
  border-right-color: #777;
  border-width: 9px;
  margin-top: -9px;
}

/*******************************
 * 右からの吹き出し
 ********************************/
.balloon-right {
  position: relative;
  border: 2px solid #777;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  float: right;
  color: @gray-dark;
}
.balloon-right:after,
.balloon-right:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.balloon-right:after {
  //border-color: rgba(133, 226, 73, 0);
  border-color: rgba(255, 255, 255, 0);
  //border-left-color: #85e249;
  border-left-color: #fff;
  border-width: 7px;
  margin-top: -7px;
}
.balloon-right:before {
  border-color: rgba(119, 119, 119, 0);
  border-left-color: #777;
  border-width: 8px;
  margin-top: -8px;
}



