/*

WP-Bootstrap - Navbar

*/

.navbar-default {
  border-radius:0;
}

.navbar-brand img {
  margin:-20px -15px -15px -15px;
}

.navbar-brand img {
  max-width:300px;
  max-height:@navbar-height;
}
.navbar-nav > li.menu-item > a {
  padding : 10px 10px;
  height: @navbar-height;
  line-height: @navbar-height - 20px;
}

