/*

WP-Bootstrap - Navbar

*/

//ヘッダー
.navbar-default {
  border: 0;
  border-bottom: @navbar-default-border 2px solid;
  -webkit-box-shadow : initial;
  box-shadow: initial;
}

//
.navbar-default .navbar-collapse {
}

.navbar-brand img {
  margin:-20px -15px -15px -15px;
}

.navbar-brand img {
  max-width:300px;
  max-height:@navbar-height;
}
.navbar-nav > li.menu-item > a {
  padding : 10px 10px;
  height: @navbar-height;
  line-height: @navbar-height - 20px;
}

