/*

WP-Bootstrap - Post Styles

*/





.post {
  margin-bottom: 18px;
  padding: 0 0 9px;
  margin:0 -10px;

  .page-header {
    padding:0 10px;
  }

  .meta{
    font-style: italic;
    color: #808080;
    padding:0 10px;
  }

  .post_content {
    padding:0 10px;
  }

  footer { 
    border-top: none;
    margin-top: 0;
    padding-top: 0;
    position: relative;
    min-height: 20px;
  }


  .tags{
    line-height: 20px;
  }
}


div[id*='attachment_']{
	max-width: 100%;
	height: 100%;
}

.post .hero-unit img{
	margin-bottom: 1em;
}

.post img{
	height: auto;
	max-width: 100%;
}

img.alignleft{
	margin-right: 10px;
	float: left;
}

img.alignright{
	margin-left: 10px;
	float: right;
}

img.aligncenter{
	display: block;
	margin: 0 auto;
}

.archive .post h3{
	line-height: 24px;
	margin-bottom: 10px;
}

video {
	max-width: 100%;
	height: auto;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-wrapper {
	width: 630px;
	max-width: 100%;
	margin-bottom: 18px;
}
