/*

WP-Bootstrap - Post Styles

*/




//記事
.hentry {
  margin-bottom: 18px;
  padding: 0 0 9px;
  @media (max-width: @screen-sm-min) {
    margin:0 -10px;

  }

  //youtubeの埋め込み対応
  iframe {
    max-width: 100% ;
  }

  .post-inner {
    padding:0 10px;
  }

  //記事タイトル
  .post-header {
    .single-title {
      font-size: 26px;
      font-weight: bold;
      line-height: 30px;
      color: #333;
      margin-bottom: 10px;
      a:hover {
        text-decoration: underline;
      }
      a {
        color: #333;
        text-decoration: none;
      }

    }
  }

  //記事のメタデータ
  .post-meta{
    font-style: italic;
    color: #808080;
  }

  //記事の本文
  .post-content {
    font-size: 15px;
    line-height: 27px;
    margin-bottom: 20px;

    //本文中の画像
    img{
      height: auto;
      max-width: 100%;
			margin-top: 1em;
			margin-bottom: 1em;
    }

    //本文中の見出し
    h2 {
			margin-top: 2em;
      font-size: 21px;
      font-weight: bold;
      line-height: 30px;
    }
    h3 {
			margin-top: 1em;
      font-size: 18px;
      font-weight: bold;
      line-height: 30px;
    }
    h4 {
			margin-top: 0.5em;
      font-size: 18px;

    }
  }

	//画像の注釈
	.img-citation {
		margin-top: -20px;
		font-size: 11px;
		color: @gray-light;
    a,a:link {
      color: @gray-light;
    }
	}

  .citation {
		font-size: 11px;
		color: @gray-light;
    a,a:link {
		  color: @gray-light;
    }
  }

	.hutoaka {
		font-weight: bold;
		color: #ff0000;
	}

	.l {
		font-size: 22px;
	}

  //記事のフッタ
  footer { 
    border-top: none;
    //border-top: 1px solid @gray-lighter;
    //border-bottom: 1px solid @gray-lighter;
    margin-top: 0;
    padding-top: 0;
    position: relative;
    min-height: 20px;
    h4 { 
      //border-bottom: 1px solid @gray-lighter;
    }
  }


  .tags{
    line-height: 20px;
  }

  .sns {
    ul {
      list-style:none;
      padding:0;
      margin:0;

      li {
        margin-bottom:5px;

      }
    }
  }
}






