/*

WP-Bootstrap - Widgets

*/

//ウィジェット内のulリスト
.widget-list() {
  &.widget_nav_menu,
  &.widget_archive,
  &.widget_categories,
  &.widget_rss
  { 
    ul {
      padding:0;
      border-radius:5px;
      border-top:1px solid @gray-lighter;
      border-left:1px solid @gray-lighter;
      border-right:1px solid @gray-lighter;
      background-color:#fff;
      li {
        list-style:none;
        position:relative;
        border:none;
        margin: 0;

        a {
          padding : 10px;
          padding-right:30px;
          border-bottom:1px solid @gray-lighter;
          width:100%;
          display:inline-block;
          color:@gray-dark;
          font-weight: bold;

        }
      }
      li a:after {
        content: "\f105";
        font-family: FontAwesome;
        float:right;
        position: absolute;
        right: 10px;
        top: 20%;
        vertical-align:middle;
        font-size:20px;
        color:@gray;
      }
    }
  }
}


//ウィジェット内のメニュー
.widget-menu-list() {
  .menu-item-has-children {
    >a {
      background-color:lighten( @headline-bg,10%);
      color: white;
    }
    >a:after {
      content: none;
    }
    .sub-menu {
      border-radius:0;  
    }
  }

  .menu-item-has-children:first-child {
    >a {
      border-top-right-radius : 5px;
      border-top-left-radius : 5px;
    }
  }
}



//ヘッダーのウィジェット
.widget-header {
  padding:0 0 0 0;
  @media (max-width: @screen-sm-min) {
    .menu {
      margin:0 -15px;
      padding:0;
    }
    .menu-item {
      list-style:none;
      position:relative;
      border:none;
      padding: 0 10px;
      margin: 0;
      border-bottom:1px solid @navbar-default-border;

      a {
        padding : 10px;
        width:100%;
        display:inline-block;
        color:@gray-dark;
        font-weight: bold;
      }
    }
    .menu-item:after {
      content: "\f105";
      font-family: FontAwesome;
      float:right;
      position: absolute;
      right: 10px;
      top: 20%;
      vertical-align:middle;
      font-size:20px;
      color:@gray;
    }
    &.widget_search {
      padding: 10px 0;
    }
  }
  @media (min-width: @screen-sm-min) {
    .menu {
      float:left;
      padding-top:10px;
    }
    .menu-item {
      margin: 0 10px;
      list-style:none;
      float:left;
      border:0;
      font-size:16px;
      a {
        padding : 10px;
        width:100%;
        display:inline-block;
        color:@gray-dark;
        font-weight: bold;
      }
    }
    &.widget_search {
      float:right;
      padding-top:15px;
    }
  }

}


//トップページのウィジェット
.widget-top {
  margin-bottom: 18px;
  .widget-list();
  .widget-menu-list();

}

//サイドバーウィジェット
.widget-sidebar {
  margin-bottom: 20px;

  .widget-list();
  .widget-menu-list();
  

  @media (min-width: @screen-sm-min) {
    .menu {
      margin: 0 15px;
    }

    form {
      margin: 0 15px;
    }
  }


  .widget-title { 
    .headline-v2();

  }
}


//フッターウィジェット
.widget-footer {
  margin-bottom: 20px;

  .widget-list();
  .widget-title {
    color: @gray-dark;
    font-size: 14px;
  }
}



//記事下のウィジェット
.widget-post-bottom {
  margin-top:10px;

  .widget-title {
    color: @gray-dark;
    font-size: 14px;
  }
  .widget-list();
  .widget-menu-list();
}

#tag-cloud{
  margin-bottom: 18px;
  line-height: 160%;
}

.tags{
  a{
    .label;
    .label-default;
  }
}

/* override standard link hover for the tag cloud widget */
#tag-cloud a:hover,
.tags a:hover{
  color: #ffffff;
  text-decoration: none;
}

#tag-cloud a{
  white-space: pre;
  text-transform: uppercase;
}

/* change default form padding for search */

.widget_search{
  form{
    padding-left: 0;
  }

  .input-group > input{
    //.form-control;
  }
}


.widget_ad_text {
  .widget-title {
    font-size:10px;
    background: transparent;
    color:@gray !important;
    margin : 0 0 2px 0;
    padding : 0;

  }
}

/* calendar widget */

#calendar_wrap{
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px;
}

#wp-calendar{
  width: 100%;
}

#wp-calendar caption{
  font-weight: bold;
  padding: 8px;
}

#wp-calendar tr{
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

#wp-calendar tr:last-child{
  border-bottom: none;
}

#wp-calendar td{
  text-align: center;
  padding: 8px 0;
}

blockquote.pull-left{
  padding-right: 15px;
}
